:root {
    --color: #243746;
    --color-primary: #158876;
    --color-secondary: #0e2233;
    --bg: #f3f5f4;
    --bg-secondary: #fff;
    --border-color: #ddd;
}

.dark-mode {
    --color: #ebf4f1 !important;
    --color-primary: #41b38a !important;
    --color-secondary: #fdf9f3 !important;
    --bg: #091a28 !important;
    --bg-secondary: #071521 !important;
    --border-color: #0d2538 !important;
}

.sepia-mode {
    --color: #433422 !important;
    --color-secondary: #504231 !important;
    --bg: #f1e7d0 !important;
    --bg-secondary: #eae0c9 !important;
    --border-color: #ded0bf !important;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg);
    color: var(--color);
    transition: background-color 0.3s;
}

a {
    color: var(--color-primary);
}
